# The placeholder written in all 17 cases. Each line pins one row of the case table:
# whichever case the template used is the case the record comes back in.
# casegen:foreach
camel            casegenCase
pascal           CasegenCase
snake            casegen_case
screaming-snake  CASEGEN_CASE
kebab            casegen-case
screaming-kebab  CASEGEN-CASE
train            Casegen-Case
title            Casegen Case
sentence         Casegen case
lower            casegen case
upper            CASEGEN CASE
dot              casegen.case
path             casegen/case
ada              Casegen_Case
camel-snake      casegen_Case
flat             casegencase
upper-flat       CASEGENCASE
# casegen:end
# casegen:end-template
user profile
